<!-- Header -->
<div id="header" class="skel-layers-fixed">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48"><img src="images/avatar.jpg" alt=""/></span>

            <h1 id="title">zcourts</h1>
            <p>Courtney Robinson</p>
            <p>Software Engineer</p>
            <p>PhD Student</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <!--

                Prologue's nav expects links in one of two formats:

                1. Hash link (scrolls to a different section within the page)

                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

            -->
            <ul>
                <li><a href="{{ site.baseurl }}#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a>
                </li>
                <li><a href="{{ site.baseurl }}#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Projects</span></a>
                </li>
                <li><a href="{{ site.baseurl }}#about" id="about-link" class="skel-layers-ignoreHref"><span
                        class="icon fa-user">About Me</span></a></li>
                <li><a href="{{ site.baseurl }}#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <ul class="icons">
            <li><a href="https://twitter.com/zcourts" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/zcourts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://github.com/zcourts" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="mailto:site@crlog.info" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>

    </div>

</div>